@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3kt289');
  src:  url('fonts/icomoon.eot?3kt289#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3kt289') format('truetype'),
    url('fonts/icomoon.woff?3kt289') format('woff'),
    url('fonts/icomoon.svg?3kt289#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-add:before {
  content: "\e900";
}
.icon-icon-apps:before {
  content: "\e901";
}
.icon-icon-delete:before {
  content: "\e902";
}
.icon-icon-favorite:before {
  content: "\e904";
}
.icon-icon-moon:before {
  content: "\e905";
}
.icon-icon-note:before {
  content: "\e906";
}
.icon-icon-schedule:before {
  content: "\e907";
}
.icon-icon-search:before {
  content: "\e908";
}
.icon-icon-settings:before {
  content: "\e909";
}
.icon-icon-sun:before {
  content: "\e90a";
}
.icon-icon-upload:before {
  content: "\e90b";
}
.icon-icon-user-acc:before {
  content: "\e90c";
}
.icon-icon-apps1:before {
  content: "\e90d";
}
.icon-icon-calendar:before {
  content: "\e90e";
}
.icon-icon-create-folder:before {
  content: "\e90f";
}
.icon-format-list-bulleted_icon:before {
  content: "\e903";
}
