@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uurf6h');
  src:  url('fonts/icomoon.eot?uurf6h#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uurf6h') format('truetype'),
    url('fonts/icomoon.woff?uurf6h') format('woff'),
    url('fonts/icomoon.svg?uurf6h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
}
.icon-apps:before {
  content: "\e901";
}
.icon-calendar:before {
  content: "\e902";
}
.icon-create-folder:before {
  content: "\e903";
}
.icon-delete:before {
  content: "\e904";
}
.icon-favorite:before {
  content: "\e905";
}
.icon-list-bulleted:before {
  content: "\e906";
}
.icon-moon:before {
  content: "\e907";
}
.icon-note:before {
  content: "\e908";
}
.icon-schedule:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e90a";
}
.icon-settings:before {
  content: "\e90b";
}
.icon-sun:before {
  content: "\e90c";
}
.icon-upload:before {
  content: "\e90d";
}
.icon-user-acc:before {
  content: "\e90e";
}
