@font-face {
    font-family: "Montserrat Alternates", sans-serif;
    src: url('./fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf');
    src: url('./fonts/Montserrat_Alternates/MontserratAlternates-Black.ttf');
}

body{
    font-family: "Montserrat Alternates", sans-serif;
    margin: 0;
    background-color: #F7EFE4;
}

.container{
    width: 1164px;
    padding: 0px 16px;
    margin: 0 auto;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 138px;
    background-color: #F7E8D3;
    overflow: hidden;
    border-radius:  0px 20px 20px 0px;
    box-shadow: 2px 0 6px #76767536;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar_title {
    font-size: 24px;
    opacity: 0;
    margin-top: 160px;
}
.sidebar_content {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
/* елементи списку */
.content_item {
    text-decoration: none;
    font-size: 16px;
}

.content_item span{
    color: #66400a;
    opacity: 0;
}

/* іконки */
.icon-note {
    color: #66400a;
}
.icon-calendar {
    color: #66400a;
}
.icon-settings {
    color: #66400a;
}



.sidebar_btn{
    position: absolute;
    top: 40px;
    left: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 24px;
    height: 24px;
    z-index: 11;
    cursor: pointer;
}

.sidebar_btn:hover{
    background-color: #d8ad50;
    border-radius: 10px;
}

/* лінії бургера */
.sidebar_btn span,
.sidebar_btn span::before,
.sidebar_btn span::after{
    display: block;
    position: absolute;
    width: 24px;
    height: 3px;
    background-color: #895710;
    border-radius: 2px;
    transition: 0.3s;
} 

.sidebar_btn span::before{
    content: "";
    top: -8px;
}

.sidebar_btn span::after{
    content: "";
    top: 8px;
}

/* бургер => хрестика */
#sidebar_toggle:checked + .sidebar_btn span{
    transform: rotate(45deg);
}

#sidebar_toggle:checked + .sidebar_btn span:before{
    top: 0;
    transform: rotate(90deg);
}

#sidebar_toggle:checked + .sidebar_btn span::after{
    opacity: 0;
}